<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vivo.finance.mapper.erp.CuxBankAcctBalancesMapper">

    <!--资金余额表-->
    <select id="getFundBalance" parameterType="hashmap"
            resultType="com.vivo.finance.dto.response.fundmonitor.FundMonitorResponse">
        select t1.bank_account_name,
               nvl(t1.bank_account_type, t1.bank_name) bank_name,
               Round(SUM(t.ending_balance), 2)         balance
        from scf.fm_cux_bank_acct_balances t
                 left join scf.accounts_info t1
                           on t.bank_account_id = t1.bank_account_id
        where t.currency_code = 'CNY'
          and ASCIISTR(t1.bank_account_name) LIKE '%\%'
          and t.balance_date = to_date(#{startDate,jdbcType=VARCHAR}, 'yyyy-mm-dd')
          and t.bank_name != 'Cash/现金'
        group by t1.bank_account_name, nvl(t1.bank_account_type, t1.bank_name)
    </select>

    <!--获取资金余额的币种合计信息-->
    <select id="getFundBalanceSumByBankName" parameterType="hashmap"
            resultType="com.vivo.finance.dto.response.fundmonitor.FundMonitorResponse">
        select '合计'                                    bank_account_name,
               nvl(t1.bank_account_type, t1.bank_name) bank_name,
               Round(SUM(t.ending_balance), 2)         balance
        from scf.fm_cux_bank_acct_balances t
                 left join scf.accounts_info t1
                           on t.bank_account_id = t1.bank_account_id
        where t.currency_code = 'CNY'
          and ASCIISTR(t1.bank_account_name) LIKE '%\%'
          and t.balance_date = to_date(#{startDate,jdbcType=VARCHAR}, 'yyyy-mm-dd')
          and t.bank_name != 'Cash/现金'
        group by nvl(t1.bank_account_type, t1.bank_name)
        having SUM (t.ending_balance)>0
    </select>

    <!--获取资金余额日记表信息-->
    <select id="getFundBalanceDiary" parameterType="hashmap"
            resultType="com.vivo.finance.dto.response.fundmonitor.FundMonitorResponse">
        select t1.bank_account_name, t.currency_code, Round(SUM(t.ending_balance),2) as balance
        from scf.fm_cux_bank_acct_balances t
        left join scf.accounts_info t1
        on t.bank_account_id = t1.bank_account_id
        where t1.bank_account_num not like '%存贷%'
        /*获取中文的公司名称*/
        <if test="companyType != null and companyType == 1 ">
            and ASCIISTR(t1.bank_account_name) LIKE '%\%'
        </if>
        /*获取英文公司名称*/
        <if test="companyType != null and companyType == 2 ">
            and ASCIISTR(t1.bank_account_name) not LIKE '%\%'
        </if>
        and t.balance_date = to_date(#{startDate,jdbcType=VARCHAR}, 'yyyy-mm-dd')
        group by t1.bank_account_name, t.currency_code
    </select>

    <!--获取资金余额日记表信息-->
    <select id="getFundBalanceDiarySumByCurrencyCode" parameterType="hashmap"
            resultType="com.vivo.finance.dto.response.fundmonitor.FundMonitorResponse">
        select '合计' as bank_account_name, t.currency_code, Round(SUM(t.ending_balance),2) balance
        from scf.fm_cux_bank_acct_balances t
        left join scf.accounts_info t1
        on t.bank_account_id = t1.bank_account_id
        where t1.bank_account_num not like '%存贷%'
        /*获取中文的公司名称*/
        <if test="companyType != null and companyType == 1 ">
            and ASCIISTR(t1.bank_account_name) LIKE '%\%'
        </if>
        /*获取英文公司名称*/
        <if test="companyType != null and companyType == 2 ">
            and ASCIISTR(t1.bank_account_name) not LIKE '%\%'
        </if>
        and t.balance_date = to_date(#{startDate,jdbcType=VARCHAR}, 'yyyy-mm-dd')
        group by t.currency_code
    </select>

    <!--获取资金余额日记表信息-->
    <select id="getFundBalanceDiaryCurrencyCode" parameterType="hashmap" resultType="string">
        select distinct t.currency_code
        from scf.fm_cux_bank_acct_balances t
                 left join scf.accounts_info t1
                           on t.bank_account_id = t1.bank_account_id
        where t1.bank_account_num not like '%存贷%'
          and t.balance_date = to_date(#{startDate,jdbcType=VARCHAR}, 'yyyy-mm-dd')
    </select>


</mapper>
